
body{
margin:0;
font-family:Arial;
background:#000;
color:#fff;
display:flex;
}
.sidebar{
width:240px;
background:#111;
height:100vh;
padding:20px;
display:flex;
flex-direction:column;
gap:12px;
}
.logo{
font-size:38px;
font-weight:900;
color:#ff7300;
margin-bottom:20px;
}
.sidebar button{
padding:14px;
border:none;
background:#1a1a22;
color:#fff;
border-radius:12px;
cursor:pointer;
}
.main{
flex:1;
padding:25px;
}
.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}
.card{
background:#111;
border:1px solid #2a2a33;
padding:20px;
border-radius:16px;
}
.card p{
font-size:28px;
color:#ff7300;
font-weight:700;
}
.form-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:20px;
}
input{
padding:14px;
background:#0d0d12;
border:1px solid #2a2a33;
color:#fff;
border-radius:12px;
}
.orange-btn{
padding:14px 20px;
background:#ff7300;
border:none;
border-radius:12px;
font-weight:700;
cursor:pointer;
}
.page{display:none;}
.active{display:block;}
table{
width:100%;
border-collapse:collapse;
}
th,td{
border:1px solid #2a2a33;
padding:12px;
}
